<?xml version="1.0"?>
<!--
/**
 * @category Internship
 * @package Internship\BinancePay
 * @author Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2024 Tomkiv
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Internship\BinancePay\Api\Data\OrderPaymentInterface"
                type="Internship\BinancePay\Model\OrderPayment"/>

    <preference for="Internship\BinancePay\Api\OrderPaymentRepositoryInterface"
                type="Internship\BinancePay\Model\OrderPaymentRepository"/>

    <preference for="Internship\BinancePay\Api\Data\OrderPaymentSearchResultInterface"
                type="Magento\Framework\Api\SearchResults"/>

    <preference for="Internship\BinancePay\Api\Data\OrderRefundInterface"
                type="Internship\BinancePay\Model\OrderRefund"/>

    <preference for="Internship\BinancePay\Api\OrderRefundRepositoryInterface"
                type="Internship\BinancePay\Model\OrderRefundRepository"/>

    <preference for="Internship\BinancePay\Api\Data\OrderRefundSearchResultInterface"
                type="Magento\Framework\Api\SearchResults"/>

    <!-- Payment Method Facade configuration -->
    <virtualType name="BinancePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code"
                      xsi:type="const">Internship\BinancePay\Model\BinancePay\Ui\ConfigProvider::METHOD_CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool"
                      xsi:type="object">Magento\Payment\Gateway\Config\ValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode"
                      xsi:type="const">Internship\BinancePay\Model\BinancePay\Ui\ConfigProvider::METHOD_CODE</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <type name="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Magento\Payment\Gateway\Config\ConfigValueHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magento\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>
</config>
