<!--
/**
 * @category Internship
 * @package Internship\BinancePay
 * @author Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2024 Tomkiv
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="binancepay" translate="label" sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Binance Pay Method</label>
                <field id="active" translate="label comment" sortOrder="10" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="15"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Binance Pay</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="secret_key" translate="label" type="password" sortOrder="25"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="30"
                       showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="35"
                       showInDefault="1" showInWebsite="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
