<?xml version="1.0"?>
<!--
/**
 * @category Internship
 * @package Internship\BinancePay
 * @author Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2024 Tomkiv
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <binancepay>
                <active>1</active>
                <title>Binance Pay</title>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
                <model>BinancePayFacade</model>
                <can_use_checkout>1</can_use_checkout>
            </binancepay>
        </payment>
    </default>
</config>
